body{
  /* font-family: 'Henny Penny', cursive; */

  /* font-family: 'Monoton', cursive !important; */

  font-family: 'Open Sans', sans-serif !important;
}

.text-slanted{
  font-family: 'Henny Penny', cursive;
}

.text-orange{
  color:#f15025;
}

.letter-spacing{
  letter-spacing: 0.5rem;
}